
root { 
    display: block;
}

font.correctAnswer{
    color: #37b521;
}

font.falseAnswer{
    color: red;
}

img.points{
    margin-top: 3px;
}

p.exam-title-text{
    padding: 2px;
    font-weight: bold;   
}

p.lueckentext{
   margin-left: 10px; 
}
.muster-exam{
    min-height: 50px;
    padding: 15px 0px 15px 20px;
    background-color: #FFFFFF;
}
.muster-exam .exam-header{
    height: 80px;
}

.muster-exam .exam-title{
    min-height: 10px;
    width: 300px;
    padding-left: 35px;
    float: left;
}

#countdown{
    min-height: 10px;
    width: 500px;
    float: right;
}

.muster-exam .exam-credit{
    height: 50px;
    width: 200px;
    float: right;
    margin-top: 10px;
    margin-right: 35px;    
    text-align: right;
}
.muster-exam .exam-content{
    min-height: 10px;
}

table.irregular-verbs{
    
    margin: auto auto;
}

table.exam{
    border-width: 1px;
    border-style: solid;
    margin: auto auto;
}

table.luekentext{
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-style: 1px;
    border-right-style: solid;
    border-right-style: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    margin: auto auto;
}

table.hoerverstehen{
    border-top-style: solid;
    border-top-width: 1px;
    margin: auto auto;
}

table.pointLegend{
    margin: 0px auto 0px auto;
}

table.pointLegend td.questions{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

table.pointLegend td.contentPoints{
    border-top-style: solid;
    border-top-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 25px;
}

table.pointLegend td.linguisticPoints{
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    min-width: 25px;
    
}

table.exam td.questions{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}

table.exam td.contentPoints{
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    padding-bottom: 16px;
    padding-left: 3px;
    padding-right: 3px;
}

table.exam td.linguisticPoints{
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
    
}
table.luekentext td.questions_right_border{
    border-left-style: solid;
    border-left-width: 1px;
}

table.luekentext td.questions{

    padding-left: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 15px;
}
table.luekentext td.leftPoints{
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

table.luekentext td.rightPoints{
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;    
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
    
}

table.luekentext td.luekentext{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}

table.luekentext td.contentPoints{
    vertical-align: bottom;
    border-left-style: solid;
    border-left-width: 1px;

    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

table.luekentext td.linguisticPoints{
    vertical-align: bottom;
    border-right-style: solid;
    border-right-width: 1px;
    padding-bottom: 20px;
    padding-left: 3px;
    padding-right: 3px;
    
}

input.exam-answer{
    width: 700px;
    background-color: #FFE9CC;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
}

table.credit-points{
    margin: 0px auto 0px auto;
}

table.credit-points td.questions{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

table.credit-points td.content-credit{
    border-right-style: solid;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

table.credit-points td.linguistic-credit{
    border-top-style: solid;
    border-top-width: 1px;    
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

input.exam-answer-luekentext{
    width: 50px;
    background-color: #FFE9CC;
    border-width: 0px;
    border-bottom-width: 2px;
    border-bottom-color: #000000;
}

table.hoerverstehen{
    border-top-style: solid;
    border-top-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
}

table.hoerverstehen td.ynquesions{
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}