/*******************************************************************
** Global Definitions
*******************************************************************/
* {
   margin: 0px;
   padding: 0px;
}
html, body {
   min-height: 100%;
   
   
}
body {
 
}
p {
  	font-family:Arial;
}

a img  {
   
}

a {
	font-family:Arial;
	text-decoration: none;
	color: #FFFFFF;
}

.main-content a{
        font-family:Arial;
	color: #ababab;
}

.container-box{
	width: 1000px;
	min-height: 100px;
	margin: auto auto;
}
/*******************************************************************
** Wrapper
*******************************************************************/


/*******************************************************************
** Wrapper Header
*******************************************************************/

.wrapper-header{
	min-height: 187px;
}

.wrapper-header .logo {
	width: 314px;
	height: 137px;
}

/*******************************************************************
** Wrapper Navigation-head
*******************************************************************/
.wrapper-header .wrapper-navigation{
	height: 150px;
	background-image:url(../src/imgs/navigation.png);
	background-repeat: repeat-x;
}

.wrapper-header .navigation{
	width: 900px;
	height: 150px;
	margin: auto auto;
}

.menu-one-top,
.menu-two-top,
.menu-three-top,
.menu-four-top,
.menu-five-top{
	width: 160px;
	height: 61px;
	margin: 0px 10px 0px 10px;
	display: none;
	background-image:url(../src/imgs/nav-button-big.png);
	background-repeat: no-repeat;

}

ul.main-menu {
	float:left;
}
ul li.menu-title{
	list-style: none;
	text-align: center;
	width: 160px;
	height: 48px;
	float: left;
	padding-top: 2px;
	margin: 0px 10px 0px 10px;
	background-image:url(../src/imgs/nav-button-small.png);
	background-repeat: no-repeat;
}

/*******************************************************************
** Wrapper Content
*******************************************************************/

.wrapper-content .container-box .main-content{
	background-color: #ffe9cc;
	padding: 10px 55px;
	min-height: 300px;
}



/*******************************************************************
** Wrapper Footer
*******************************************************************/

.wrapper-footer .container-box .footer-content{
	background-color: #fff4e5;
	padding: 10px 55px;
	min-height: 100px;
}



/* Additional Content */



input.back{
        position: relative;
        width: 110px;
        height: 40px;
        margin-top: 25px;
        background-color: transparent;
        border-color: transparent;    
        background-image:url(./src/imgs/back.png);
        background-repeat: no-repeat;
        z-index: 10;
        border: 0px solid;
}
input.back:Hover{
        cursor: pointer;
}
input.back:Active{
        background-image:url(./src/imgs/back_click.png);
        background-repeat: no-repeat;
}

input.next{
        position: relative;
        width: 110px;
        height: 40px;
        margin-top: 25px;
        background-color: transparent;
        border-color: transparent;    
        background-image:url(./src/imgs/next.png);
        background-repeat: no-repeat;
        z-index: 10;
        border: 0px solid;
}
input.next:Hover{
        cursor: pointer;
}
input.next:Active{
        background-image:url(./src/imgs/next.png);
        background-repeat: no-repeat;
}