
.wrapper-content {
    position: relative;
    min-height: 400px;
    width: 100%;
    padding-bottom: 150px;
    background-image:url(../../src/imgs/background/content.png);
    background-repeat: repeat;
}

.wrapper-content .breakline{
    width: 100%;
    height: 4px;
    background-image:url(../../src/imgs/background/breakline.png);
    background-repeat: repeat-x;
}

.wrapper-content .content-shade{
    width: 1260px;
    height: 87px;
    margin: auto auto;
    background-image:url(../../src/imgs/background/wrapper-content-shaddow.png);
    background-repeat: no-repeat;
}

.wrapper-content .container-box .main-content {
    width: 950px;
    min-height: 500px;
}

.wrapper-content .content-top{
    position: relative;
    top: -365px;
    width: 986px;
    height: 272px;
    background-image:url(../../src/imgs/background/content_content_top.png); 
    background-repeat: no-repeat;
}
.wrapper-content .content-mid{
    position: absolute;
    top: -93px;
    bottom: 269px;
    width: 986px;
    background-image:url(../../src/imgs/background/content_content_mid.png); 
    background-repeat: repeat-y;
}
.wrapper-content .content-bottom{
    position: absolute;
    bottom: 0px;
    width: 986px;
    height: 269px;
    background-image:url(../../src/imgs/background/content_content_bottom.png); 
    background-repeat: no-repeat;
}
.wrapper-content .content{
    position: relative;
    margin-top: -630px;
    margin-left: 48px;
    width: 910px;
    z-index: 10;    
}
.go2_cities {
    position: relative;
    float: left;
    margin-left: 0px;
    width: 511px;
    height: 674px;
    background-image: url(../../src/imgs/tmp/de.png);
    background-repeat: no-repeat;
}
.go2_cities_info {
    position: relative;
    float:left;
    margin-left: 60px; 
    width: 279px;
    height: 330px;
}

a.go2_cities_muenchen{
    position: absolute;
    top: 594px;
    left: 333px;
}
a.go2_cities_coburg{
    position: absolute;
    top: 399px;
    left: 297px;
}
a.go2_cities_heidelberg{
    position: absolute;
    top: 480px;
    left: 163px;
}
a.go2_cities_karlsruhe{
    position: absolute;
    top: 512px;
    left: 149px;
}
a.go2_cities_konstanz{
    position: absolute;
    top: 637px;
    left: 187px;
}
a.go2_cities_fuBerlin{
    position: absolute;
    top: 175px;
    left: 352px;
}
a.go2_cities_tuBerlin{
    position: absolute;
    top: 209px;
    left: 426px;
}
a.go2_cities_hamburg{
    position: absolute;
    top: 115px;
    left: 245px;
}
a.go2_cities_marburg{
    position: absolute;
    top: 358px;
    left: 172px;
}
a.go2_cities_darmstadt{
    position: absolute;
    top: 438px;
    left: 162px;
}
a.go2_cities_frankfurt{
    position: absolute;
    top: 418px;
    left: 166px;
}
a.go2_cities_kassel{
    position: absolute;
    top: 312px;
    left: 214px;
}
a.go2_cities_greifswald{
    position: absolute;
    top: 64px;
    left: 419px;
}
a.go2_cities_wismar{
    position: absolute;
    top: 85px;
    left: 319px;
}
a.go2_cities_hannover{
    position: absolute;
    top: 219px;
    left: 227px;
}
a.go2_cities_bochum{
    position: absolute;
    top: 293px;
    left: 87px;
}
a.go2_cities_mettingen{
    position: absolute;
    top: 213px;
    left: 93px;
}
a.go2_cities_mainz{
    position: absolute;
    top: 413px;
    left: 82px;
}
a.go2_cities_kaiserslautern{
    position: absolute;
    top: 458px;
    left: 95px;
}
a.go2_cities_fhSaarbruecken{
    position: absolute;
    top: 500px;
    left: -10px;
}
a.go2_cities_uniSaarbruecken{
    position: absolute;
    top: 515px;
    left: 0px; 
}
a.go2_cities_glauchau{
    position: absolute;
    top: 356px;
    left: 388px;
}
a.go2_cities_leipzig{
    position: absolute;
    top: 308px;
    left: 374px;
}
a.go2_cities_zittau{
    position: absolute;
    top: 343px;
    left: 508px;
}
a.go2_cities_dresden{
    position: absolute;
    top: 323px;
    left: 448px;
}
a.go2_cities_halle{
    position: absolute;
    top: 285px;
    left: 295px;
}
a.go2_cities_koethen{
    position: absolute;
    top: 266px;
    left: 363px;
}
a.go2_cities_schleswigHolstein{
    position: absolute;
    top: 44px;
    left: 250px;
}
a.go2_cities_nordhausen{
    position: absolute;
    top: 277px;
    left: 188px;
}